
body {
  margin: 0 auto;

  font-size: 40px;
  font-family: "Roboto", sans-serif;

  background-color: rgb(255, 255, 255);
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

.wrapper {
  position: relative;

  max-width: 1500px;
  margin: 0 auto;
}

/*HEADER*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100vh;
  padding-top: 160px;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(250, 132, 250) 100%);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  transition: transform 0.5s ease;
}

.nav-hidden {
  transform: translateX(-100%);
}

.nav-link {
  margin-bottom: 20px;

  color: #ffffff;
  text-decoration: none;

  transition: color 0.1s linear;
}

.active-link {
  color: rgb(71, 255, 209);
  transform: scale(1.3);
}

.nav-link:hover {
  color: rgb(96, 224, 214);
}

.menu-icon {
  position: relative;
  top: 30px;
  z-index: 10;

  width: 50px;
  height: 42px;

  cursor: pointer;
}

.menu-icon-line,
.menu-icon-line::after,
.menu-icon-line::before {
  position: absolute;
  top: 50%;

  width: 50px;
  height: 6px;

  background-color: rgb(255, 0, 157);
  border-radius: 3px;

  transition: top 0.3s, background 0.2s, transform 0.3s ease;
}

.menu-icon-line::after {
  content: "";
  top: -14px;
}

.menu-icon-line::before {
  content: "";
  top: 14px;
}

.menu-icon-active {
  background-color: rgba(0, 0, 0, 0);
}

.menu-icon-active::after {
  top: 0;

  transform: rotate(45deg);
}

.menu-icon-active::before {
  top: 0;

  transform: rotate(-45deg);
}

#toggle {
  display: none;
}

.switch {
  position: absolute;
  top: 30px;
  right: 0;

  display: inline-block;
  width: 200px;
  height: 60px;
  padding-top: 7px;
  padding-left: 65px;

  color: #ffffff;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(250, 132, 250) 100%);
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 0.6s ease;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;

  display: inline-block;
  width: 55px;
  height: 55px;

  background-color: white;
  border-radius: 50%;

  transition: left 0.3s ease;
}

#toggle:checked + label {
  padding-left: 25px;

  background-color: rgb(80, 197, 80);
}

#toggle:checked + label::before {
  left: 142px;
}

/*CATEGORY-CARDS*/
.container {
  margin-top: 70px;
  position: relative;
}

.main-page,
.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 330px;
  margin: 15px;

  text-decoration: none;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(238, 126, 238) 40%, #ffffff 30%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;

  transition: box-shadow 0.2s linear;
}

.category-card:hover,
.word-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,1);
}

.category-card-image {
  width: 200px;
  height: 200px;

  background-image: url("images/category/Actions.jpg");
  background-position: center;
  background-size: cover;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

.category-card > h2 {
  font-weight: normal;
  font-size: 35px;
  color: #000000;
}

/* WORD CARD */
.word-card {
  position: relative;

  width: 300px;
  height: 300px;
  margin: 15px;

  background-image: url("images/action/sing.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  transition: box-shadow 0.2s, transform 1s ease;
  transform: perspective(1000px);
}


.word-control-front,
.word-control-back {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 40px;
  padding-top: 5px;

  text-align: center;

  background-color: #ffffff;
  backface-visibility: hidden;
  transform: perspective(1000px);
  transition: transform 1s ease;
}

.word-control-back {
  transform: rotateY(180deg);
}

 .word-control-back > .card-title {
  transform: scale(-1, 1);
}

.card-title {
  font-weight: normal;
  font-size: 25px;
}

.rotate {
  position: absolute;
  right: 8px;
  bottom: 2px;

  width: 37px;
  height: 37px;

  background-image: url("images/icons/rotate.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  transition: transform 1s, opacity 0.8s ease;
}

.rotate:hover {
  transform: rotate(-180deg);
}

/* start game */
.start-game {
  display: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  text-transform: uppercase;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  width: 100%;
  height: 50px;
  position: absolute;
  z-index: 8;
  bottom: -70px;
  background: linear-gradient(45deg, rgb(245, 211, 91) 0%, rgb(255, 172, 230) 100%);
  transition: linear-gradient 10s, box-shadow 0.3s linear;
}

.start-game:hover {
  box-shadow: 0 0 15px rgba(0,0,0,1);
}
