
body {
  margin: 0 auto;

  font-size: 40px;
  font-family: "Roboto", sans-serif;

  background: linear-gradient(270deg, #ffffff, #c8fff3, #fdddfc);
  background-size: 600% 600%;

  animation: background 12s ease infinite;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0 0 10px;
}

@keyframes background {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.wrapper {
  position: relative;

  max-width: 1500px;
  margin: 0 auto;
}

/*HEADER*/
.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 100vh;
  padding-top: 160px;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(250, 132, 250) 100%);
  box-shadow: 0 0 10px rgba(0,0,0,0.5);

  transition: transform 0.5s ease;
}

.nav-hidden {
  transform: translateX(-100%);
}

.nav-link {
  margin-bottom: 20px;

  color: #ffffff;
  text-decoration: none;

  transition: color 0.1s linear;
}

.active-link {
  color: rgb(71, 255, 209);

  transform: scale(1.3);
}

.nav-link:hover {
  color: rgb(96, 224, 214);
}

.menu-icon {
  position: relative;
  top: 30px;
  z-index: 10;

  width: 50px;
  height: 42px;

  cursor: pointer;
}

.menu-icon-line,
.menu-icon-line::after,
.menu-icon-line::before {
  position: absolute;
  top: 50%;

  width: 50px;
  height: 6px;

  background-color: rgb(255, 0, 157);
  border-radius: 3px;

  transition: top 0.3s, background 0.2s, transform 0.3s ease;
}

.menu-icon-line::after {
  content: "";
  top: -14px;
}

.menu-icon-line::before {
  content: "";
  top: 14px;
}

.menu-icon-active {
  background-color: rgba(0, 0, 0, 0);
}

.menu-icon-active::after {
  top: 0;

  transform: rotate(45deg);
}

.menu-icon-active::before {
  top: 0;

  transform: rotate(-45deg);
}

#toggle {
  display: none;
}

.switch {
  position: absolute;
  top: 30px;
  right: 0;

  display: inline-block;
  width: 200px;
  height: 60px;
  padding-top: 7px;
  padding-left: 65px;

  color: #ffffff;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(250, 132, 250) 100%);
  border-radius: 25px;
  cursor: pointer;

  transition: background-color 0.6s ease;
}

.switch::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 3px;

  display: inline-block;
  width: 55px;
  height: 55px;

  background-color: white;
  border-radius: 50%;

  transition: left 0.3s ease;
}

#toggle:checked + label {
  padding-left: 25px;

  background-color: rgb(80, 197, 80);
}

#toggle:checked + label::before {
  left: 142px;
}

/*CATEGORY-CARDS*/
.container {
  position: relative;

  margin-top: 50px;
}

.main-page,
.cards-wrapper {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.main-page {
  padding-top: 55px;
}

.category-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 330px;
  margin: 15px;

  text-decoration: none;

  background: linear-gradient(rgb(255, 162, 162) 0%,rgb(238, 126, 238) 40%, #ffffff 30%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;

  transition: box-shadow 0.2s linear;
}

.category-card:hover,
.word-card:hover {
  box-shadow: 0 0 15px rgba(0,0,0,1);
}

.category-card-image {
  width: 200px;
  height: 200px;

  background-image: url("images/category/Actions.jpg");
  background-position: center;
  background-size: cover;
  border: 10px solid #ffffff;
  border-radius: 50%;
}

.category-card > h2 {
  font-weight: normal;
  font-size: 35px;
  color: #000000;
}

/* WORD CARD */
.word-card {
  position: relative;

  width: 300px;
  height: 300px;
  margin: 15px;

  background-image: url("images/action/sing.jpg");
  background-position: center;
  background-size: cover;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  transform: perspective(1000px);

  transition: box-shadow 0.2s, transform 1s ease;
}


.word-control-front,
.word-control-back {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 40px;
  padding-top: 5px;

  text-align: center;

  background-color: #ffffff;
  transform: perspective(1000px);
  backface-visibility: hidden;

  transition: transform 1s ease;
}

.word-control-back {
  transform: rotateY(180deg);
}

.word-control-back > .card-title {
  transform: scale(-1, 1);
}

.card-title {
  font-weight: normal;
  font-size: 25px;
}

.rotate {
  position: absolute;
  right: 8px;
  bottom: 2px;

  width: 37px;
  height: 37px;

  background-image: url("images/icons/rotate.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  transition: transform 1s, opacity 0.8s ease;
}

.rotate:hover {
  transform: rotate(-180deg);
}

/* start game */
.start-game {
  position: absolute;
  bottom: -70px;
  z-index: 8;

  display: none;
  width: 100%;
  height: 50px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: linear-gradient(45deg, rgb(245, 211, 91) 0%, rgb(255, 172, 230) 100%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;

  transition: box-shadow 0.3s linear;
}

.start-game:hover {
  box-shadow: 0 0 15px rgba(0,0,0,1);
}

.correctly-word {
  border: 10px solid green;
  border-radius: 10px;
  opacity: 0.3;
}

.correctly-word:hover {
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.repeat {
  position: absolute;
  bottom: -100px;
  left: 46%;

  display: none;
  width: 110px;
  height: 100px;

  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: linear-gradient(45deg, rgb(245, 211, 91) 0%, rgb(255, 172, 230) 100%);
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;

  transition: box-shadow 0.3s linear;
}

.repeat-btn {
  transition: transform 2s linear;
}

.repeat-btn:hover {
  transform: rotate(360deg);
}

.repeat:hover {
  box-shadow: 0 0 15px rgba(0,0,0,1);
}

.win-game,
.lose-game {
  position: fixed;
  z-index: 999;

  display: none;
  width: 100vw;
  height: 100vh;

  text-align: center;

  background-color: #ffffff;
}

.win-game p,
.lose-game p {
  font-weight: bold;
  font-size: 70px;
  color: rgb(255, 87, 233);
  text-transform: uppercase;
}

.lose-game p {
  color: rgb(255, 0, 0);
}

.stars {
  display: flex;
  flex-direction: row-reverse;
  min-height: 55px;
  overflow: hidden;

  visibility: hidden;
}

.star-win {
  min-width: 55px;
  min-height: 55px;

  background-image: url("images/icons/star-win.svg");
}

.star-lose {
  min-width: 55px;
  min-height: 55px;

  background-image: url("images/icons/star-lose.svg");
}

/*statistics*/
.statistics {
  text-align: center;
}

.reset-statistics,
.repeat-difficult {
  width: 400px;
  height: 100px;
  margin-top: -20px;
  margin-right: 20px;

  font-size: 27px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background: linear-gradient(45deg, rgb(245, 211, 91) 0%, rgb(255, 172, 230) 100%);
  border: none;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  cursor: pointer;

  transition: box-shadow 0.5s, transform 0.3s linear;
}

.reset-statistics:hover,
.repeat-difficult-button:hover {
  box-shadow: 0 0 10px rgba(0,0,0,1);
}

.reset-statistics:active,
.repeat-difficult:active {
  transform: scale(0.95);
}

table {
  width: 100%;
  margin-top: 20px;

  border-collapse: collapse;
  font-size: 25px;
}

caption {
  font-size: 70px;
}

th,
td {
  padding: 5px;

  text-align: center;
  text-transform: uppercase;

  border-right: 2px solid rgb(0, 0, 0);
  border-bottom: 2px solid rgb(0, 0, 0);
}

th {
  background-color: rgba(255, 0, 179, 0.158);
  cursor: pointer;
}

th:last-child,
td:last-child {
  border-right: none;
}
